* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    background-color: rgba(21, 124, 67, 0.578);
    margin: 0;
    padding: 10px 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    position: relative;
    font-size: 1em;
    }

h1 img {
    width: 40px;
    height: auto;
    margin-right: auto;
}  

h1 span {
    position: absolute;
}

nav {
    background-color: rgb(53, 53, 4);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

footer {
    background-color: rgb(53, 53, 4);
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
    text-decoration: underline;
}