@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0d1b2a;
    padding: 10px 30px;
}

.nav-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    /*Oi*/
}

.logo img {
    height: 50px;
    margin-right: 30px;
    border-radius: 15px;
}

.menu {
    display: flex;
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00d1ff;
}

.sidebar {
    left: 0;
    width: 410px;
    height: 100%;
    position: fixed;
    background-color: #4c5c6d;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #00d1ff;
}

.info-user {
    max-width: 1200px;
    width: 100%;
    padding: 10px 30px;
}

.user-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.user img {
    height: 60px;
}

.close-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

#show-sidebar-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #0d1b2a;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.favoritos-conteiner {
    margin-top: 5px;
}

.favoritos-conteiner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.favoritos {
    display: flex;
    flex-direction: column;
}

.favoritos a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 6px 10px;
    border: 2px solid #0d1b2a;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    width: 350px;
}

.favoritos a img {
    height: 18px;
}

.favoritos a:hover {
    background-color: #0d1b2a;
    color: #00d1ff;
    cursor: pointer;
}

.logo-main {
    margin-top: 100px;
    text-align: center;
}

.logo-main img {
    max-width: 300px;
    border-radius: 50px;
}

.boas-vindas {
    background-color: #cfd8dc;
    position: absolute;
    top: 0px;
    left: 410px;
}

.boas-vindas h1 {
    padding: 30px;
    width: 100vw;
    font-size: 1.8rem;
    margin-bottom: -10px;
    margin-left: 350px;
}

.boas-vindas p {
    font-size: 1.2rem;
    margin-left: 540px;
    padding-bottom: 20px;
}

.dashboard img {
    margin-top: -715px;
    margin-left: 410px;
    max-width: 1180px;
}

/*

.submenu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #0d1b2a;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 9999;
}

.submenu a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: #0d1b2a;
  color: #00d1ff;
}

*/